<div>
  <h1>Sig Up</h1>
  <form [formGroup]="user" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">
  
    <div>
      <label>
        Email:
        <input type="email" formControlName="email" required>
      </label>
    </div>
    
    <div>
      <label>
        Password:
        <input type="password" formControlName="password" required>
      </label>
    </div>
    
  
    <button type="submit" [disabled]="!user.valid">Submit</button>
  </form>

  <button (click)="goToLogin()">Log In</button>
</div>