hola luis
<div style="display: flex; flex-direction: column;">
  <div *ngIf="isLogged">
    <div>
      <button style="float: left;" (click)="logout()">Logout</button>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
